
body {
    max-width: unset;
}

/* Styles for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 1440px) {
    body {
        max-width: 1440px;
    }
}

.patient-dashboard-widget-label {
    font-weight: bold;
    font-size: 0.9em;
}

.patient-dashboard-widget-value {
    font-size: 0.9em;
}

.status-data-alert {
    font-weight: bold;
    color: red;
}

/* Ensure datetime picker is on one line */
.hfe-hours, .hfe-minutes, .hfe-seconds {
    width: 70px;
    min-width: 70px;
    margin: 0px 10px 0px 10px;
}

.hasDatepicker {
    min-width: 120px;
    margin-top: 0px;
}

#dateOfDeath {
    display: flex;
}

#dateOfDeath > .hasDatepicker {
    min-width: 120px;
    margin-top: 0px;
}

#dateOfDeath > .hfe-hours, .hfe-minutes, .hfe-seconds {
    width: 70px;
    min-width: 70px;
    margin: 0px 10px 0px 10px;
}

#dateOfDeath > .value {
    padding-right: 5px;
}

.date-one-line {
    display: flex;
}

.date-one-line label {
    align-self: center;
    margin-right: 1em;
}

.date-one-line span {
    display: flex;
}

.section-container, .section-container-color {
    background: #F2F2F2;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 5px 10px 15px;
    line-height: 1.5em; /*add this for vertical spacing between elements*/
}

.section-container input[type="checkbox"] {
    margin: 0px 5px; /*changed values to vertical, horizontal*/
    top:5px; /*added to offset the checkbox position to line up*/
}

.section-container label { /*new definition to override labels inside section-containers*/
    margin: 0px;
}

.section {
    width: 100%;
}

.narrow {
    width: 200px;
}

.indented {
    padding-left: 20pt;
    padding-right: 20pt;
}

.side-by-side label {
    display: inline-block;
}

.list-inline label, .list-inline input[type="radio"], .list-inline span,
.list-inline-wide label, .list-inline-wide input[type="radio"], .list-inline-wide span,
.list-inline-extra-wide label, .list-inline-extra-wide input[type="radio"], .list-inline-extra-wide span,
.in-line label, .in-line input[type="radio"], .in-line span {
    display: inline-block;
    float: none;
}

.list-inline label:first-child {
    width: 220px;
}

.list-inline-wide label:first-child {
    width: 320px;
}

.list-inline-extra-wide label:first-child {
    width: 420px;
}

.five-columns, .four-columns, .three-columns, .two-columns {
    display: table;
    height: 100%;
    width: 100%;
}

.two-columns > div {
    display: table-cell;
    width: 50%;
}

.three-columns > div {
    display: table-cell;
    width: 33%;
}

.four-columns > div {
    display: table-cell;
    width: 25%;
}

.five-columns > div {
    display: table-cell;
    width: 20%;
}
