
body {
    max-width: unset;
}

/* Styles for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 1440px) {
    body {
        max-width: 1440px;
    }
}

.patient-dashboard-widget-label {
    font-weight: bold;
    font-size: 0.9em;
}

.patient-dashboard-widget-value {
    font-size: 0.9em;
}

.status-data-alert {
    font-weight: bold;
    color: red;
}

/* Ensure datetime picker is on one line */
#dateOfDeath {
    display: flex;
}

#dateOfDeath > .hasDatepicker {
    min-width: 120px;
    margin-top: 0px;
}

#dateOfDeath > .hfe-hours, .hfe-minutes, .hfe-seconds {
    width: 70px;
    min-width: 70px;
    margin: 0px 10px 0px 10px;
}

#dateOfDeath > .value {
    padding-right: 5px;
}