name: Trigger Dependency Builds

on:
  workflow_dispatch:

jobs:
  trigger-config-zl:
    uses: PIH/openmrs-config-zl/.github/workflows/deploy.yml@master

  trigger-config-pihsl:
    uses: PIH/openmrs-config-pihsl/.github/workflows/deploy.yml@master

  trigger-config-pihliberia:
    uses: PIH/openmrs-config-pihliberia/.github/workflows/deploy.yml@master

  trigger-config-ces:
    uses: PIH/openmrs-config-ces/.github/workflows/deploy.yml@master
